<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SchemaApi</servlet-name>
        <servlet-class>com.mycompany.joy_db_2.servlets.SchemaApi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableApi</servlet-name>
        <servlet-class>com.mycompany.joy_db_2.servlets.TableApi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RowApi</servlet-name>
        <servlet-class>com.mycompany.joy_db_2.servlets.RowApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SchemaApi</servlet-name>
        <url-pattern>/Schema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableApi</servlet-name>
        <url-pattern>/Table</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RowApi</servlet-name>
        <url-pattern>/Row</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

</web-app>
